.contact-main {
    height: auto;
    padding: 60px 0px;
    background: linear-gradient(to right, #e35d5b85, #e538357e), url("../img/fondo3.jpg") no-repeat center/cover fixed
}

.contact-main .container {
    flex-direction: column;
    width: 50vw;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #000000b3
}

.contact-form h3 {
    font-size: 35px;
    padding: 40px 0px;
}

.contact-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form p {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

.contact-form p:nth-child(6){
    align-items: center;
    padding: 30px 0px;
}

.contact-form p label {
    margin-bottom: 5px
}

.contact-form p input {
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif
}

.contact-form p textarea {
    border: none;
    border-bottom: 1px solid gray;
    height: 120px;
    font-size: 14px;
    font-family: "Josefin Sans", "sans-serif";
}

.contact-form .boton {
    width: 200px ;
    height: 40px;
}

@media screen and (max-width: 1129px) {
    .contact-main .container {
        width: 75%;
    }
}

@media screen and (max-width: 589px) {
    .contact-main .container {
        width: 90%;
    }
    .contact-form {
        width: 90%;
    }
    .contact-form h3 {
        width: 90%;
        text-align: center;
        font-size: 30px;
    }
}