* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    font-family: "Josefin Sans", sans-serif
}

.boton a {
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 100px
}

.boton a:hover {
    background: #dfba16;
    border: 2px solid #dfba16;
    transition: 0.6s;
    box-shadow: 0px 0px 10px black
}

.menu-btn {
    display: none
}

.nav-main-top {
    height: 100px;
    background: #db3938;
    color: white;
    display: flex;
    box-shadow: 0px 0px 10px black
}

.nav-container {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-around
}

.nav-brand {
    height: 80px
}

.nav-main-top i {
    font-size: 35px
}

.nav-info {
    display: flex
}

.info-text,
.nav-main-top i {
    padding: 0px 10px
}

.info-text {
    border-left: 2px groove rgba(231, 221, 221, 0.3)
}

.info-text {
    font-size: 14px
}

.nav-main {
    height: 60px;
    background: #f7e152;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    display: flex
}

.nav-main ul {
    display: flex;
    align-items: center;
    margin-left: 90px
}

.nav-main ul li a {
    padding: 22px 30px;
    font-size: 16px;
    color: #db3938
}

.nav-main ul li a:hover {
    background: #db3938;
    color: white;
    box-shadow: 0px 0px 10px black;
    transition: 0.6s
}

.separation-banner {
    height: 160px;
    background: rgba(177, 177, 177, 0.3);
    display: flex;
    align-items: center;
    justify-content: center
}

.separation-banner h2 {
    color: #ff3535;
    font-size: 45px;
    font-weight: 400
}

.separation-bar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(177, 177, 177, 0.7)
}

.separation-bar a {
    color: black;
    font-size: 15px;
    padding: 5px;
    cursor: pointer
}

.separation-bar a:hover {
    color: red
}

.separation-bar span {
    color: gray
}

.contact-main {
    height: 110vh;
    display: flex;
    background: #e53935;
    background: linear-gradient(to right, #e35d5b85, #e538357e), url("../img/fondo3.jpg") no-repeat center/cover fixed
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 80%;
    margin: auto;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7)
}

.contact-brand {
    justify-content: center
}

.contact-brand h3 {
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px
}

.contact-form {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column
}

.contact-form p {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px
}

.contact-form p label {
    margin-bottom: 5px
}

.contact-form p input {
    border: none;
    border-bottom: 1px solid gray;
    width: 96%;
    height: 30px;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif
}

.contact-form p textarea {
    border: none;
    border-bottom: 1px solid gray;
    height: 60px;
    width: 96%;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif
}

.contact-form button {
    width: 20%;
    margin: auto;
    margin-top: 15px;
    padding: 10px 20px
}

.footer-links {
    height: 340px;
    background: #555454;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid white
}

.footer-links-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 160px;
    margin-top: 30px
}

.footer-links a,
.footer-links h4,
.footer-links p {
    color: white
}

.footer-links-container div>h4 {
    padding: 15px 0px;
    font-size: 26px;
    border-bottom: 2px solid #f7e152
}

.footer-links-container ul {
    margin-top: 40px
}

.footer-links-container div ul li {
    margin: 10px 0px
}

.footer-links-container div ul li i {
    color: white;
    margin-right: 15px
}

.footer-links-container div ul li>a {
    font-size: 16px
}

.footer-links-container div ul li>a:hover {
    border-bottom: 1px solid white
}

.footer-links-container div p {
    font-size: 16px;
    margin-top: 40px;
    text-align: justify;
    line-height: 1.5rem
}

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #353535;
    color: white;
    font-size: 14px;
    box-shadow: 0px 0px 10px #3b3b3b
}