.gallery {
    height: auto;
    padding: 60px 0px;
    display: flex;
    align-items: center
}

.gallery .container {
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background: white;
}

.gallery .container .gallery-card {
    overflow: hidden;
}

.gallery .container .gallery-card a>img {
    width: 100%;
    object-fit: cover;
    transition: 0.7s
}

.gallery .container .gallery-card a>img:hover {
    transform: scale(1.55) rotate(20deg);
    filter: blur(1px);
    filter: brightness(80%)
}

@media screen and (max-width: 1050px) {
    .gallery .container {
        width: 85%;
    }
}

@media screen and (max-width: 890px) {
    .gallery .container {
        width: 90%;
    }
}

@media screen and (max-width: 589px) {
    .gallery .container {
        grid-template-columns: repeat(1, 1fr);
    }
}