* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.boton a {
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 100px;
}

.boton a:hover {
  background: #dfba16;
  border: 2px solid #dfba16;
  transition: 0.6s;
  box-shadow: 0px 0px 10px black;
}

.menu-btn {
  display: none;
}

.container {
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
}

.nav-main-top {
  height: auto;
  padding: 10px 0px;
  background: #db3938;
  color: white;
  display: flex;
}

.nav-main-top .container {
  justify-content: space-between;
}

.nav-main-top .container img{
  height: 80px;
}

.nav-main-top .container i {
  font-size: 40px;
}

.nav-info {
  display: flex;
  align-items: center;
}

.nav-main-top i,
.info-text {
  padding: 0px 10px;
}

.info-text {
  border-left: 2px groove rgba(231, 221, 221, 0.3);
  font-size: 16px;
}

.nav-main {
  height: 60px;
  background: #f7e152;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  display: flex;
}

.nav-main ul {
  display: flex;
  align-items: center;
}

.nav-main ul li a {
  padding: 22px 30px;
  font-size: 16px;
  color: #db3938;
}

.nav-main ul li a:hover {
  background: #db3938;
  color: white;
  box-shadow: 0px 0px 10px black;
  transition: 0.6s;
}

.showcase {
  height: 650px;
  display: flex;
  background: #e53935;
  background: linear-gradient(to right, #e35d5b65, #e538355d), url("../img/fondo3.jpg") no-repeat center/cover fixed;
}

.showcase .container {
  flex-direction: column;
  align-items: start;
  color: white;
}

.showcase h2 {
  font-size: 42px;
  padding: 15px 0px;
}

.showcase p {
  font-size: 24px;
  width: 35%;
  margin-bottom: 80px;
}

.banner-one {
  height: auto;
  background: #db3938;
  box-shadow: 0px 0px 10px black;
  display: flex;
  align-items: center;
}

.banner-one .container{
  padding: 20px 0px;
}

.banner-one-brand {
  width: 100px;
  padding: 10px;
  border-radius: 100px;
  background: white;
}

.banner-one-text {
  flex: 1;
  margin-left: 30px;
  color: white;
}

.banner-one-text h4 {
  font-size: 28px;
}

.banner-one-text p {
  font-size: 18px;
  width: 70%;
}

.present-main {
  height: auto;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.present-text {
  text-align: center;
  margin-bottom: 60px;
}

.present-text div {
  font-size: 2.5rem;
  margin-top: 10px;
}

.present-text div i:nth-child(2) {
  transform: scale(1.3);
}

.present-text div i:nth-child(1):hover {
  transform: scale(1.3);
  transition: 0.5s;
  color: blue;
}

.present-text div i:nth-child(2):hover {
  transform: scale(1.6);
  transition: 0.5s;
  color: red;
}

.present-text h4 {
  font-size: 18px;
}

.present-text h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.present-text h3 {
  font-size: 20px;
}

.present-first-file {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 180px;
  margin-bottom: 80px;
  text-align: center;
}

.present-main img {
  height: 160px;
}

.present-main h6 {
  margin-top: 20px;
  font-size: 20px;
}

.present-second-file {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 180px;
  text-align: center;
}

.gallery-container {
  height: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0px 0px 10px black;
  background: black;
}

.gallery-container .gallery-card {
  overflow: hidden;
}

.gallery-container .gallery-card a {
  width: 100%;
  height: 100%;
}

.gallery-container .gallery-card a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.gallery-container .gallery-card a > img:hover {
  transform: scale(1.45) rotate(20deg);
  filter: blur(1px);
  filter: brightness(80%);
}

.logros-main {
  height: auto;
  padding: 40px 0px;
}

.logros-main .container{
  flex-direction: column;
}

.logros-main h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.logros-container-info {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 70px;
  text-align: center;
}

.logros-container-info div {
  padding: 40px 15px;
  border-radius: 50px;
  color: black;
  background: white;
  box-shadow: 0px 0px 15px gray;
}

.logros-container-info img {
  height: 200px;
  width: 85%;
  border-radius: 20px;
}

.logros-container-info h3 {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #db3939;
}

.logros-container-info p {
  font-size: 16px;
  text-align: justify;
}

.footer-links {
  height: auto;
  padding: 30px 0px;
  background: #555454;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid white;
}

.footer-links .container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  gap: 210px;
}

.footer-links h4,
.footer-links a,
.footer-links p {
  color: white;
}

.footer-links .container div > h4 {
  padding: 15px 0px;
  font-size: 26px;
  border-bottom: 2px solid #f7e152;
}

.footer-links .container ul {
  margin-top: 40px;
}

.footer-links .container div ul li {
  margin: 10px 0px;
}

.footer-links .container div ul li i {
  color: white;
  margin-right: 15px;
}

.footer-links .container div ul li > a {
  font-size: 16px;
}

.footer-links .container div ul li > a:hover {
  border-bottom: 1px solid white;
}

.footer-links .container div p {
  font-size: 16px;
  margin-top: 40px;
  text-align: justify;
  line-height: 1.5rem;
}

.footer {
  height: auto;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #353535;
  color: white;
  font-size: 20px;
  box-shadow: 0px 0px 10px #3b3b3b;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .nav-main ul li a {
    padding: 22px 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1129px) {
  .container{
    width: 80%;
  }
  .present-first-file {
    gap: 80px;
  }

  .present-second-file {
    gap: 80px;
  }

  .gallery-container {
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
  }

  .logros-container-info {
    grid-template-columns: repeat(2, 300px);
    gap: 50px;
  }

  .footer-links .container {
    grid-template-columns: repeat(3, 200px);
    gap: 100px;
  }
}
@media screen and (max-width: 890px) {
  .menu-btn {
    height: 0px;
    display: flex;
    flex-direction: row-reverse;
  }

  .menu-btn i {
    font-size: 2.5rem;
    padding: 5px;
    position: fixed;
  }
  
  .showcase h2 {
    font-size: 38px;
    margin-top: 10px;
  }

  .showcase p {
    width: 50%;
    color: #fff7f7;
    text-shadow: 0px 0px 5px black;
    font-size: 20px;
  }

  .nav-main-top {
    display: none;
  }

  .nav-main {
    height: 0px;
  }

  .nav-main ul.nav-menu {
    display: block;
    top: 0;
    left: 0;
    background: #2f3640d8;
    position: fixed;
    height: 100%;
    width: 240px;
    transform: translateX(-250px);
    transition: 0.6s;
    cursor: pointer;
  }

  .nav-main ul.nav-menu.show {
    transition: 0.6s;
    transform: translateX(0px);
  }

  .nav-main ul li {
    margin: 30px 0px;
  }

  .nav-main ul li a {
    color: white;
    font-size: 18px;
  }

  .banner-one-text h4 {
    font-size: 22px;
  }
  
  .banner-one-text p {
    width: 90%;
  }

  .present-first-file {
    grid-template-columns: repeat(1, 200px);
    gap: 20px;
  }

  .present-second-file {
    grid-template-columns: repeat(1, 200px);
    gap: 40px;
  }

  .logros-container-info {
    grid-template-columns: repeat(1, 400px);
    gap: 60px;
  }

  .logros-container-info div {
    width: 90%;
    margin: auto;
  }

  .footer-links .container {
    grid-template-columns: repeat(1, 250px);
    gap: 20px;
  }
}
@media screen and (max-width: 589px) {
  .showcase p {
    width: 90%;
  }
  .banner-one .container{
    flex-direction: column;
    text-align: center;
  }
  .boton {
    padding-top: 20px;
  }
  .gallery-container {
    height: 1000px;
    grid-template-columns: repeat(1, 1fr);
  }
  .logros-container-info {
    grid-template-columns: repeat(1, 270px);
    gap: 60px;
  }
}