.ourcollege {
    height: auto;
}

.ourcollege .container {
    flex-direction: column;
}

.ourcollege-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
}

.ourcollege-text {
    display: flex;
    flex-direction: column;
}

.ourcollege-text h3 {
    color: #666666;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px
}

.ourcollege-text p {
    color: #666666;
    font-size: 22px;
    line-height: 30px;
    width: 75%
}

.ourcollege-text ul li {
    color: #666666;
    font-size: 22px;
    margin: 15px 0px;
}

.ourcollege-info img {
    height: 280px;
    box-shadow: 0px 0px 15px black;
}

.video-main {
    height: auto;
    padding: 60px 0px;
    background: #db3938;
}

.video-main .container {
    flex-direction: column;
}

.video-main h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

.video-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.video-content iframe {
    width: 500px;
}


@media screen and (max-width: 1129px) {
    .ourcollege-info img {
        height: 220px;
    }
    .video-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 890px) {
    .ourcollege-info {
        padding: 50px 0px;
    }

    .ourcollege-info {
        flex-direction: column;
    }

    .ourcollege-text {
        align-items: center;
    }

    .ourcollege-text p {
        text-align: center;
        font-size: 20px;
        width: 85%
    }

    .ourcollege-info img {
        height: 220px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 589px) {
    .ourcollege-text p {
        width: 100%
    }

    .ourcollege-info img {
        height: 180px;
    }

    .ourcollege-text h3 {
        text-align: center;
    }

    .video-content iframe {
        width: 400px;
        height: 230px;
    }
}
@media screen and (max-width: 430px){
    .ourcollege-info img {
        height: auto;
        width: 90vw;
    }
    .video-content iframe {
        width: 90vw;
        height: 200px;
    }
    .container {
        width: 90%;
    }
}