.education {
  height: auto;
  padding: 60px 0px;
}

.education .container,
.initial .container {
  width: 80%;
}

.education-text h2,
.initial-header h2 {
  font-size: 40px;
}

.education-text p,
.initial p {
  width: 85%;
  margin-top: 10px;
  font-size: 18px;
  line-height: 25px;
}

.initial {
  height: auto;
  padding: 30px 0px;
}

.initial-header {
  margin-bottom: 20px;
}


.initial-blocks {
  height: auto;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.initial-block-content {
  background: #ffae00;
  color: #fff;
  padding: 20px 20px;
}

.initial-block-content.green {
  background: green;
}

.initial-block-content.blue {
  background: #145eff;
}

.initial-block-content h3 {
  font-size: 28px;
  margin-top: 10px;
}

.initial-block-content p {
  width: 100%;
}

@media screen and (max-width: 1350px) {

  .education .container,
  .initial .container {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .initial-blocks {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1029px) {

  .education .container,
  .initial .container {
    display: flex;
    width: 80%;
    flex-direction: column-reverse;
    text-align: center;
  }

  .education-text p,
  .initial p {
    width: 100%;
  }

  .initial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .education-text h2,
  .initial-header h2 {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 890px) {}

@media screen and (max-width: 589px) {
  .education .container,
  .initial .container {
    width: 90%;
  }
  .initial-blocks {
    width: 100%;
  }
  iframe{
    width: 90vw;
    height: 300px;
  }
}

@media screen and (max-width: 429px) {
  iframe{
    height: 200px;
  }
}